In [1]:
import pandas as pd
from torch import unique
import numpy as np

In [2]:
data = pd.read_csv('questionsPrimer.csv')

In [3]:
data.head()

,Exercise Number,Question Text,Chapter_name
0,Exercise 1.1,Review the documentation for your compiler and...,Getting started
1,Exercise 1.2,Change the program to return -1. A return valu...,Getting started
2,Exercise 1.3,"Write a program to print He11o, Wor1d on the s...",Getting started
3,Exercise 1.4,"Our program used the addition operator, +, to ...",Getting started
4,Exercise 1.5,We wrote the output in one large statement. Re...,Getting started

In [4]:
data.columns

Index(['Exercise Number', 'Question Text', 'Chapter_name'], dtype='object')

In [5]:
data.rename(columns={'Chapter Name':'Chapter'}, inplace=True)

In [6]:
df = data.drop('Exercise Number', axis=1)

In [7]:
df.head()

                                       Question Text     Chapter_name
0  Review the documentation for your compiler and...  Getting started
1  Change the program to return -1. A return valu...  Getting started
2  Write a program to print He11o, Wor1d on the s...  Getting started
3  Our program used the addition operator, +, to ...  Getting started
4  We wrote the output in one large statement. Re...  Getting started

In [8]:
df.columns =['Question','Chapter_name']

In [9]:
col = []
col.append(np.unique(df['Chapter_name']))

In [10]:
print(col)

[array(['Associative Containers', 'Classes', 'Copy Control', 'Expressions',
       'Functions', 'Generic Algorithms', 'Getting started',
       'Object-Oriented Programming', 'Operator Overloading',
       'Pointers and Dynamic Memory', 'Sequential Containers',
       'Specialised Library Facilities',
       'Specialised Tools and Techniques', 'Statements',
       'Streams and IO Library', 'Strings, Vectors, and Arrays',
       'Templates', 'Tools for Large Programs',
       'Variable and Basic types'], dtype=object)]

In [11]:
df2 = pd.read_csv('questions.csv')
df2.head()

,Page Number,Question Text,Chapter
0,1,"1. Pascal, BASIC, and C are p.",The Big Picture
1,1,2. A widget is to the blueprint for a widget a...,The Big Picture
2,1,3. The two major components of an object are,The Big Picture
3,1,"4. In C++, a function contained within a class...",The Big Picture
4,2,5. Protecting data from access by unauthorized...,The Big Picture

In [12]:
df2.drop('Page Number', axis=1, inplace=True)

In [13]:
df2.head()

                                       Question Text          Chapter
0                     1. Pascal, BASIC, and C are p.  The Big Picture
1  2. A widget is to the blueprint for a widget a...  The Big Picture
2       3. The two major components of an object are  The Big Picture
3  4. In C++, a function contained within a class...  The Big Picture
4  5. Protecting data from access by unauthorized...  The Big Picture

In [14]:
df2.columns = ['Question','Chapter_name']

In [15]:
col2 = [np.unique(df2['Chapter_name'])]
print(col2)

[array(['Arrays and Strings', 'C++ Programming Basics', 'Functions',
       'Inheritance', 'Loops and Decisions', 'Multifile Programs',
       'Object-Oriented Software Development', 'Objects and Classes',
       'Operator Overloading', 'Pointers', 'Streams and Files',
       'Structures', 'Templates and Exceptions', 'The Big Picture',
       'The Standard Template Library', 'Virtual Functions'], dtype=object)]